<main>
    <MudGrid Spacing="@spacing" Justify="Justify.Center">
        <MudItem xs="12"><MudText>@Title</MudText></MudItem>
        <!-- for文的なやつで、技の種類分だけゲージを出したい -->
        <MudProgressLinear Buffer="true" Size="Size.Large" Color="Color.Tertiary" Min="0" Max="100" Value="@damage_min[0]" BufferValue="@damage_max[0]">
            <MudText><b>12.5%</b></MudText>
        </MudProgressLinear>
    </MudGrid>
</main>

@code {
    private static int spacing { get; set; } = 1;
    public int[] damage_min = new int[100];
    public int[] damage_max = new int[100];

    [Parameter] public string? Title { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        damage_min[0] = 15;
        damage_max[0] = 32;
    }
}
